body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #000 !important;
}

html {
  height: 100%;
}
.logo {
  margin: 6rem;
  margin-top: 2rem;
}

.red {
  color: #e50914;
  font-size: 40px;
}
.red2 {
  color: #fff;
  font-size: 12px;
  background-color: #e50914;
  float: right;
  border: #e50914;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: 80px;
  height: 30px;
}

.line {
  width: 100%;
  border: 5px solid #232323;
}

.myImg1 {
  width: 400px;
  height: auto;
  padding-left: 90px;
}
.myImg2 {
  width: 400px;
  height: auto;
  padding-top: 5px;
  padding-left: 90px;
}
.myImg3 {
  width: 400px;
  height: auto;
  padding-top: 5px;
  padding-left: 90px;
}
.right {
  float: right;
  font-size: 40px;
  width: 300px;
  height: auto;
  margin: 6rem;
  margin-right: 100px;
  color: white;
}
.left {
  float: left;
  font-size: 40px;
  width: 300px;
  height: auto;
  margin: 6rem;
  margin-left: 100px;
  color: #fff;
}
footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  margin-top: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

ul li {
  margin-bottom: 5px;
}
.space {
  display: inline;
  margin-right: 200px;
  padding-top: 40px;
  padding-right: 60px;
}
.aboveemailbutton {
  font-size: 70px;
  font-family: sans-serif;
  position: relative;
  text-align: center;
  color: #fff;
}
.belowemailbutton {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  color: #fff;
}
.span {
  font-size: 30px;
  padding-inline: 5px;
  display: inline-flex;
  color: #fff;
}
.center1 {
  margin: 0 15%;
}
.center {
  text-align: justify;
  border: 1px solid white;
  color: white;
  margin: 20px;
  height: 80px;
  width: 1000px;
  padding-left: 25px;
  padding-top: 10px;
  display: ;
  background-color: rgb(97, 94, 89);
}
.center2{
  
}
/* Add any additional styling as needed */
